.spark{
    color : var(--accent);
}

.outro{
    color: var(--muted);
    font-size: 0.95em;
}

a{
    color : var(--accent) !important;
    text-decoration:underline dotted var(--accent)  !important;
}
