<div class="main-container">
  <ul class="experience-list">
    <li>
    <div class="experience-header">
        <div>
            <span class="comp-name">National Informatics Center</span>
            <span class="role">Django Developer Intern</span>
        </div>

        <span class="duration">14 June 2025 – 25 July 2025</span>
    </div>

    <p class="description">
      Developed a centralized requisition platform for general and technical items, replacing manual/email-based requests with a structured digital workflow. Built the application using Django, HTML, CSS, and SQLite/MySQL, with request submission, item categorization, status tracking, and administrative management to streamline the end-to-end requisition process.
    </p>
</li>
  </ul>
</div>
