<div class="main-container">
    <div class="wrap-sign"><img class="sign h-8" src="/original-image.svg" alt=""></div>
    
    <div class="wrap-quote">
        <p class="quote">"Never regret thy fall, O Icarus of the fearless flight, For the greatest tragedy of them all Is never to feel the burning light."</p>
    </div>
    <ul class="socials">
        <li><a href="">Github</a></li>
        <li><a href="">LinkedIn</a></li>
        <li><a href="">X</a></li>
        <li><a href="">Instagram</a></li>
    </ul>
</div>