
<div class="main-container">
    <ul class="projects-list">
        <a href="https://github.com/Ankush-Shukla/Sorting-Visualizer.git" target="_blank">
            <li>
                <span >Sorting Visualizer - using SFML and C++</span>
                <p>An interactive and educational Sorting Visualizer built with C++ and SFML 3.0.0. This tool allows users to observe how various sorting algorithms operate in real-time, with audio feedback and dynamic control over speed and data size.</p>
                
            </li>
        </a>
        <a href="https://github.com/Ankush-Shukla/Tic-Tac-Toe" target="_blank">
            <li>
                <span>Tic Tac Toe - Implemented MinMax algo from Scratch in Python</span>
                <p>This is an advanced version of the classic Tic Tac Toe game, built using SFML 3.0. The game features, A clean and interactive UI with smooth animations, AI opponent with strategic move selection, Sound effects for player moves and game outcomes, Proper event handling with SFML 3.0 compatibility.</p>
            </li>
        </a>
        <a href="https://github.com/Ankush-Shukla/discord-bot" target="_blank">
            <li>
                <span>Chotu - A server management bot for discord built using JavaScript</span>
                <p>Chotu is a powerful Discord bot that helps server admins and members with daily tasks. It provides moderation commands like kick and ban while also offering music playback, games, and utility features to enhance user engagement.</p>
            </li>
        </a>
    </ul>
</div>