
<div class="main-container">
    <ul class="projects-list">
        <li>
            <span >project 1</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, debitis, veritatis velit iste est ducimus quaerat, itaque enim aliquam sed aperiam recusandae numquam consequuntur cupiditate. Harum doloribus quo quas assumenda!</p>
        </li>
        <li>
            <span>project 2</span>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus tempora architecto quisquam optio consequatur, aliquam quibusdam quis voluptas, veritatis sit blanditiis eos soluta!</p>
        </li>
        <li>
            <span>project 3</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo non voluptatem reiciendis. Laudantium illum facilis dolore, amet nam repudiandae quis?</p>
        </li>
    </ul>
</div>