<p>Things I have worked on</p>
<div class="main-container">
    <ul class="projects-list">
        <li>
            <h3>project 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, debitis, veritatis velit iste est ducimus quaerat, itaque enim aliquam sed aperiam recusandae numquam consequuntur cupiditate. Harum doloribus quo quas assumenda!</p>
        </li>
        <li>
            <h3>project 2</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus tempora architecto quisquam optio consequatur, aliquam quibusdam quis voluptas, veritatis sit blanditiis eos soluta!</p>
        </li>
        <li>
            <h3>project 3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo non voluptatem reiciendis. Laudantium illum facilis dolore, amet nam repudiandae quis?</p>
        </li>
    </ul>
</div>